includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max

    ignoreErrors:
        -
            message: '#Property App\\Client\\IsbnClient\:\:\$[a-zA-Z]* is never read, only written.#'
            path: app/Client/IsbnClient.php

    paths:
        - app
        - bootstrap
        - database/factories
        - routes
